<div class="content">
    <h2><%= @current_post.title %></h2>
    <h4><%= @current_post.date %></h4>
    <p><%= @current_post.content %></p>
    <% if user_signed_in? && current_user.admin? %>
    <ul>
        <li><%= link_to "Edit", edit_post_path(@current_post) %></li>
        <li><%= link_to "Destroy", post_path(@current_post), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
    </ul>
    <% end %>
    <h2>Comments</h2>
    <% if @current_post.comments %>
        <%= render @current_post.comments %>
    <% else %>
        <p>Be the first to comment!</p>
    <% end %>
    <% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
    <% else %>
    <p>Sign In to comment</p>
    <% end %>
</div>